.app__contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.app__contact-container {
  width: 1000px;
  height: 500px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  gap: 4rem;
}
.app__contact-container_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

input {
  background-color: var(--color-white);
  border: none;
  height: 35px;
  width: 300px;
  overflow: scroll;
}

#message {
  grid-column-start: span 2;
}

#message input {
  width: 636px;
}

.app__contact-container_links {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: var(--color-white);
  padding: 1.5rem;
}

.app__contact-container_links-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.app__contact-container_links-wrapper_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  
}

.app__contact-container_links-wrapper_icons{
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .app__contact-container {
    padding: 1rem;
    width: 750px;
    gap: 1rem;
  }

  label input {
    width: 200px;
  }

  #message input {
    width: 430px;
  }
}

@media screen and (max-width: 650px){
  .app__contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 360px;
    padding-top: 1rem;
  }

  .app__contact-container_form{
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    
  }

  label input {
    width: 300px;
  }

  form{
    display: flex;
    flex-direction: column;

  }

  label{
    align-content: flex-start;

  }

  #message input {
    width: 300px;
    height: 80px;
  }

  .app__contact-container_links{
    width: 360px;
    height: 280px;
    align-self: flex-start;
    margin-top: 1rem;
  }

  .app__contact-container{
    padding: 0;
  }
}
