.app__recentBlog{
    width: 100%;

}

.app__recentBlog-container{
    width: 100%;
    display: flex;
 align-items: center;
 justify-content: center;
 gap: 6%;

}

.app__recentBlog-container img{
    width: 367px;
}

.app__recentBlog-container_item-text :nth-child(1){
    font-size: 1.1rem;
    cursor: pointer;
}

.app__recentBlog-container_item-text :nth-child(2){
    color: var(--color-gray);
    font-size: 0.9rem;
}

.app__recentBlog-container_item-text :nth-child(3){
    color: var(--color-brown);
    text-decoration: underline;
    margin-top: 0.6rem;
    font-weight: 700;
    cursor: pointer;
}