.custom__button{
  width: 120px;
  height: 37px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 100%;
  font-size: 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.price-tag{
  color: var(--color-brown);
  font-weight: 700;
}

@media screen and (max-width: 1150px) {
  .custom__button{
    font-size: 0.9rem;
  }
}


