.app__navbar {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: relative;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.app__navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__navbar-logo img {
  width: 170px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-icons {
  display: flex;
  gap: 1.2rem;
}

.app__navbar-icons * {
  cursor: pointer;
}

/* All related to sidebar and overlay for mobile versions*/

.app__navbar-icons_sidebar {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
  height: 100vh;
  background-color: white;
  top: 0%;
  left: 0;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.app__navbar-smallscreen_overlay img {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.app__navbar-smallscreen_overlay-logo {
  position: sticky;
  margin-top: 1rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 218, 218);
}

.app__navbar-smallscreen_overlay-logo :last-child {
  cursor: pointer;
}

.app__navbar-smallscreen_overlay.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.app__navbar-smallscreenlinks {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  list-style: none;
}

.app__navbar-smallscreenlinks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
}

.app__navbar-smallscreen_overlay-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
  margin: 14px;
  cursor: pointer;
}

.label {
  color: rgb(153, 153, 153);
}

.app__navbar-smallscreen_overlay-login_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* End of sidebar overlay general rules */

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-icons {
    font-size: 1.3rem;
    gap: 1rem;
  }

  .app__navbar-icons svg:first-child {
    display: none;
  }

  .app__navbar-icons_sidebar {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
  }

  .app__navbar-icons {
    gap: 12px;
  }
  .app__navbar-smallscreen_overlay-socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 10px;
  }

  .app__navbar-smallscreen_overlay-socials svg {
    font-size: 2rem;
    cursor: pointer;
  }

  .app__navbar-smallscreen_overlay {
    width: 50%;
  }

  .app__navbar-smallscreen_overlay-policy {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
  }
  .app__navbar-smallscreen_overlay-policy p {
    font-size: 1rem;
    color: rgb(153, 153, 153);
    cursor: pointer;
  }

  .app__navbar-smallscreen_overlay-policy :last-child {
    font-size: 0.9rem;
    margin-top: 30px;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-smallscreen_overlay {
    width: 100%;
  }
  .app__navbar-icons_sidebar {
    font-size: 1.2rem;
  }

  .app__navbar img {
    width: 140px;
  }
  .app__navbar-smallscreen_overlay-policy :last-child {
    font-size: 0.7rem;
  }

  .app__navbar-smallscreen_overlay-policy p {
    font-size: 0.8rem;
  }

  .app__navbar-smallscreen_overlay-policy {
    margin-top: 1rem;
  }
  .app__navbar-smallscreen_overlay-socials svg {
    font-size: 1.3rem;
  }
}
