.app__midBanner {
  width: 100%;
  padding: 0 118px;
  gap: 7%;
  margin-top: 8rem;
  display: flex;
  align-items: center;
}

.app__midBanner-image_container {
  width: 57%;
}

.app__midBanner-image_container img {
  width: 100%;
  border-radius: 10px;
}

.app__midBanner-content_container {
  width: 500px;
  margin-right: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.app__midBanner-content_container :nth-child(2) {
  color: var(--color-gray);
}

@media screen and (max-width: 1150px) {
  .app__midBanner {
    padding: 0 30px;
  }
  .app__midBanner-image_container {
    width: 500px;
  }

  .app__midBanner-image_container img {
    width: 500px;
  }

  .app__midBanner-content_container {
    font-size: smaller;
  }
}

@media screen and (max-width: 650px) {
  .app__midBanner {
    flex-direction: column;
    gap: 2rem;
  }
  .app__midBanner-image_container {
    width: 350px;
  }

  .app__midBanner-image_container img {
    width: 350px;
  }
  .app__midBanner-content_container {
    width: auto;
    margin-right: 0;
    gap: 1rem;
  }
}
